.fec-container{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 16px 15px 15px;}
.fec-page-step{color:#ED1C24;display:block;font-size:22px;line-height:normal;margin-bottom:15px;text-transform:uppercase;}
.fec-container .fec-required{color:#ED1C24;display:block;font-size:12px;font-weight:700;margin-bottom:20px;margin-top:-35px;text-align:right;}
.fec-container .fec-information{display:block;font-size:12px;line-height:18px;margin-bottom:17px;}
.fec-container form{display:block;margin:-18px 0 0;overflow:hidden;}
.fec-fieldset{background:#ebebeb;border:1px solid #b7b7b7;border-top:none;padding:0 23px 21px;}
.fec-guest-checkout{margin-top:10px;}
.fec-fieldset .fec-fieldset-legend{background:#252525;color:#fff;display:block;font-size:13px;font-weight:700;margin:0 -24px 17px;padding:13px 23px 15px;position:relative;text-transform:uppercase;}
.fec-fieldset .information{font-size:12px;padding:0;}
.fec-fieldset .fec-field{margin-bottom:14px;overflow:hidden;}
.fec-fieldset .inputLabel{color:#000;display:block;float:none;font-size:12px;font-weight:700;line-height:11px;margin:0 0 9px;padding:0;width:auto;}
.fec-fieldset input[type=text],.fec-fieldset input[type=password],.fec-fieldset select,.fec-fieldset textarea{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border:1px solid #898989;box-sizing:border-box;display:inline-block;font-family:Verdana;font-size:12px;margin:0;padding:5px;width:100%;}
.fec-returning-customers input[type=text],.fec-returning-customers input[type=password],.fec-returning-customers select,.fec-returning-customers textarea{width:100%;}
.fec-fieldset input:focus,.fec-fieldset select:focus,.fec-fieldset textarea:focus{background-color:#FFF;border-color:#AEAEAE;box-shadow:1px 1px 3px #CCC;}
.fec-box-check-radio,.fec-discount .fec-field-inline label{margin-bottom:12px;overflow:hidden;}
.fec-box-check-radio input,.fec-box-check-radio label{float:left;margin:0 10px 0 0;padding:0;width:auto;}
.fec-box-check-radio label,.fec-discount .fec-field-inline label{float:left;font-size:12px;line-height:19px;margin-right:0;position:relative;top:-2px;width:83%;}
.fec-box-check-radio label img{margin:2px 0 5px;position:relative;}
.fec-box-check-radio .smallText{display:block;font-weight:400;}
.fec-box-check-radio input{height:13px;margin:1px 9px 0 0;width:13px;}
.fec-fieldset .fec-box-check-radio .alert{float:left;height:13px;line-height:13px;}
.fec-fieldset .alert{color:#ED1C24;display:inline-block;font-size:11px;font-weight:400;margin-left:0;}
.fec-fieldset fieldset{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border:none;box-sizing:border-box;display:block;margin:18px 0 0;overflow:hidden;padding:0;width:100%;}
.fec-col-left .fec-fieldset fieldset{margin-bottom:-14px!important;}
.fec-fieldset fieldset .fec-fieldset-legend,.fec-fieldset .fec-fieldset-legend-two{background:none;border:none;color:#ed1c24;display:block;font-size:12px;font-weight:700;height:auto;line-height:normal;margin:0 0 12px;padding:0;text-transform:uppercase;}
.fec-fieldset .fec-newsletter-email,.fec-fieldset .fec-referral,.fec-fieldset .fec-login-details{border-top:1px solid #b7b7b7;margin-bottom:0;padding:18px 0 0;}
.fec-fieldset .fec-newsletter-email{margin-top:21px;}
.fec-newsletter-email .fec-box-check-radio{margin-bottom:0;}
.fec-newsletter-email input{clear:left;}
.fec-newsletter-email label{padding-bottom:8px;}
.fec-col-left .fec-fieldset .fec-referral{margin:26px 0 -14px;}
.fec-fieldset .fec-discount,.fec-fieldset .fec-table-gifts{border-top:1px solid #b7b7b7;padding-top:20px;}
.fec-fieldset > div .fec-discount:first-child{border-top:none;padding-top:0;}
.fec-fieldset .fec-shipping-to{border-bottom:1px solid #b7b7b7;margin-bottom:17px;padding-bottom:21px;}
.fec-address-container{margin-top:-5px;overflow:hidden;position:relative;}
.fec-shipping-address address{color:#000;float:left;font-size:12px;line-height:18px;padding:0;}
.fec-shipping-address address br{display:block;}
.fec-shipping-address a{bottom:2px;position:absolute;right:0;text-transform:uppercase;}
.fec-shipping-address a .cssButton,.fec-shipping-address a .cssButtonHover,#cartWrapExplain a{background:none!important;border:none;color:#636363;font-size:10px;font-weight:700;padding:0!important;width:auto!important;}
.fec-shipping-address a .cssButton:hover,.fec-shipping-address a .cssButtonHover:hover,#cartWrapExplain a:hover{color:#373737;}
.fec-fieldset .fec-edit-button{margin:-52px 0 0;position:relative;}
.fec-fieldset .fec-edit-button .cssButton,.fec-fieldset .fec-edit-button .cssButtonHover{background:#898989;cursor:pointer;padding:3px 4px 4px;}
.fec-fieldset .fec-edit-button .cssButtonHover,.fec-fieldset .fec-edit-button .cssButtonHover:hover{background:#787878;}
.fec-table-items table{background:none!important;border:none!important;border-collapse:collapse;border-spacing:1px;box-shadow:1px 1px 5px #EDEDED;margin-top:-7px;width:100%;}
.fec-table-items tr{background:no-repeat!important;}
.fec-table-items table th{background:#666;border-left:1px solid #CCC;color:#fff;display:none;font-size:11px;height:30px;line-height:30px;padding:0 10px;}
.fec-table-items table th:first-child{border-left:none;}
.fec-table-items table #ccProductsHeading{text-align:left;}
.fec-table-items table td{border-bottom:1px solid #b7b7b7!important;color:#000;font-size:12px;padding:12px 0!important;}
.fec-table-items table td:first-child{border-left:medium none;text-align:center;width:7%;}
.fec-table-items table .cartImage{text-align:center;width:20%;}
.fec-table-items table .cartAttribsList{margin:6px 0;padding-left:14px;}
#orderTotals{position:relative;z-index:1;}
#orderTotals > div{overflow:hidden;}
#orderTotals > div > div{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#000;font-size:12px;padding:10px 0 0;}
#orderTotals > div .totalBox{text-align:right;width:20%;}
#orderTotals > div .lineTitle{width:80%;}
#orderTotals #ottotal div{font-weight:700;}
.fec-container .fec-important a{color:#ed1c24;display:block;font-size:12px;margin:14px 0;text-align:right;}
.fec-container .fec-important a:hover{color:#B5161B;}
.fec-container .buttonRow.forward{margin-bottom:0;margin-right:0;}
.fec-col-left .buttonRow.forward{border-top:1px solid #B7B7B7;margin:21px 0 0;padding-top:21px;width:45%;}
.fec-container .cssButton,.fec-container .cssButtonHover{background:#ed1c24;border:none;color:#fff;cursor:pointer;float:right;font-size:12px;font-weight:700;margin:0;padding:4px 6px 5px;text-transform:uppercase;width:auto!important;}
.fec-container .cssButtonHover,.fec-container .cssButtonHover:hover{background:#B5161B;border-color:none;}
.fec-button-container .fec-infomation{clear:both;font-size:12px;padding-top:10px;text-align:right;}
.fec-easy-sing-up.no-account-only{margin-top:22px;}
.fec-easy-sing-up .fec-col-left{float:left;width:63.510204081633%;}
.fec-easy-sing-up .fec-col-left.no-account{float:left;width:100%;}
.fec-easy-sing-up .fec-col-right{float:right;width:33.5%;}
.fec-cl-left,.fec-cl-right{float:left;margin-top:21px;overflow:hidden;width:auto;}
.fec-cl-left{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-right:1px solid #b7b7b7;box-sizing:border-box;margin-right:5%;padding-right:5%;width:50%;}
.fec-cl-right{width:45%;}
.fec-fieldset .fec-company,.fec-fieldset .fec-privacy{padding-bottom:14px;}
.fec-fieldset .fec-login-details{margin-top:-19px;}
.fec-col-left #shippingField{margin-bottom:30px!important;margin-top:0!important;}
.fec-no-account,.fec-confidence,.fec-paypal{margin-bottom:20px;}
#checkout .fec-container,.fec-container .fec-information p{padding:0;}
.fec-fieldset br,.fec-fieldset legend,#fec-state-2-field,#fec-state-2-field-shipping,#fec-state-2-field label,#fec-state-2-field-shipping label{display:none;}
.fec-button-container .buttonRow.forward,.fec-fieldset .fec-billing-address,.fec-fieldset .fec-company,.fec-fieldset .fec-date-birth,.fec-fieldset .fec-privacy{margin-top:0;}
@media screen and -webkit-min-device-pixel-ratio0 {
.fec-container .cssButton,.fec-container .cssButtonHover{padding:6px 7px;}
}